<.header>
  Decision <%= @decision.id %>
  <:subtitle>This is a decision record from your database.</:subtitle>
  <:actions></:actions>
</.header>

<.list>
  <:item title="Input"><%= @decision.input %></:item>
  <:item title="Prediction"><%= @decision.prediction %></:item>
  <:item title="Label"><%= @decision.label %></:item>
</.list>

<.back navigate={~p"/decision_sites/#{@decision_site}/decisions"}>Back to decisions</.back>
