<.header>
  Listing Classifiers for Decision Site <%= @decision_site.name %>
  <:actions>
    <.link patch={~p"/decision_sites/#{@decision_site}/classifiers/new"}>
      <.button>New Classifier</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="classifiers"
  rows={@streams.classifiers}
  row_click={
    fn {_id, classifier} ->
      JS.navigate(~p"/decision_sites/#{@decision_site}/classifiers/#{classifier}")
    end
  }
>
  <:col :let={{_id, classifier}} label="Name">
    <%= classifier.name %>
    <%= if Excision.Excisions.is_default_classifier?(classifier) do %>
      <ExcisionWeb.Components.TooltipComponent.tooltip text='When a Decision Site is created, an associated "Passthrough" entity is also automatically created, which replicates the same behavior as making a function call to a model provider, with the added benefit that decisions coming from the LLM are recorded in your DecisionBox database.   Those decisions can now be inspected and labeled, establishing a baseline for accuracy before you replace it with a newly created, purpose-built classifier which can be trained through labeling for even greater accuracy.  Note that a Passthrough cannot be trained.' />
    <% end %>
  </:col>
  <:col :let={{_id, classifier}} label="Status">
    <%= Excision.Excisions.Classifier.status_to_display_status(classifier.status) %>
  </:col>
  <:col :let={{_id, classifier}} label="Active">
    <%= if classifier.id == @decision_site.active_classifier_id, do: "Active", else: "Inactive" %>
  </:col>
  <:action :let={{_id, classifier}}>
    <.link phx-click={
      JS.navigate(~p"/decision_sites/#{@decision_site}/classifiers/#{classifier}")
    }>
      <%= case classifier.status do %>
        <% x when x in [:waiting, :failed] and @enough_labels_to_train -> %>
          Train
        <% :trained when classifier.id != @decision_site.active_classifier_id -> %>
          Promote
        <% _ -> %>
          Details
      <% end %>
    </.link>
  </:action>
  <:action :let={{id, classifier}}>
    <.link
      phx-click={JS.push("delete", value: %{id: classifier.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.back navigate={~p"/decision_sites/#{@decision_site}"}>
  Back to decision site
</.back>

<.modal
  :if={@live_action in [:new, :edit]}
  id="classifier-modal"
  show
  on_cancel={JS.patch(~p"/decision_sites/#{@decision_site}/classifiers")}
>
  <.live_component
    module={ExcisionWeb.ClassifierLive.FormComponent}
    id={@classifier.id || :new}
    title={@page_title}
    action={@live_action}
    classifier={@classifier}
    decision_site_id={@decision_site.id}
    patch={~p"/decision_sites/#{@decision_site}/classifiers"}
  />
</.modal>
