<.header>
  Decision Sites
  <:actions>
    <.link patch={~p"/decision_sites/new"}>
      <.button>Create New</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="decision_sites"
  rows={@streams.decision_sites}
  row_click={fn {_id, decision_site} -> JS.navigate(~p"/decision_sites/#{decision_site}") end}
>
  <:col :let={{_id, decision_site}} label="Name"><%= decision_site.name %></:col>
  <:col :let={{_id, decision_site}} label="Updated"><%= decision_site.updated_at %></:col>
  <:col :let={{_id, decision_site}} label="# Decisions">
    <%= Map.get(@num_decisions, decision_site.id, 0) %>
  </:col>
  <:col :let={{_id, decision_site}} label="# Unlabeled Decisions">
    <div class="flex flex-row items-center">
      <%= Map.get(@num_unlabeled_decisions, decision_site.id, 0) %>
      <%= if Map.get(@num_unlabeled_decisions, decision_site.id, 0) > 0 do %>
        <.pulsing_dot />
      <% end %>
    </div>
  </:col>
  <:action :let={{_id, decision_site}}>
    <div class="sr-only">
      <.link navigate={~p"/decision_sites/#{decision_site}"}>Show</.link>
    </div>
    <.link patch={~p"/decision_sites/#{decision_site}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, decision_site}}>
    <.link
      phx-click={JS.push("delete", value: %{id: decision_site.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="decision_site-modal"
  show
  on_cancel={JS.patch(~p"/decision_sites")}
>
  <.live_component
    module={ExcisionWeb.DecisionSiteLive.FormComponent}
    id={@decision_site.id || :new}
    title={@page_title}
    action={@live_action}
    decision_site={@decision_site}
    patch={~p"/decision_sites"}
  />
</.modal>

<.modal
  :if={@live_action in [:confidence_dialog]}
  id="decision_site-modal"
  show
  on_cancel={JS.patch(~p"/decision_sites")}
>
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Your Decision Site is Ready!</h2>
  <p class="text-gray-600 mb-6">
    You're all set to start making informed decisions using our powerful platform. Here's a quick guide to get you started:
  </p>

  <h3 class="text-lg font-semibold mb-2 text-gray-700">1. Use the API to Submit Data</h3>
  <p class="text-gray-600 mb-4">
    Use our API to send your data directly to the decision engine. Here’s a simple example:
  </p>

  <div class="bg-gray-100 p-4 rounded-md mb-6">
    <pre class="text-sm text-gray-800 whitespace-pre-wrap">
<code>import requests

url = 'https://decisionbox.yoursite.com/api/decision_sites/<%= @decision_site.id %>/invoke'
headers = {'Authorization': 'Bearer OPENAI_API_KEY'}
data = {
  "messages": [
    {
      "role": "user",
      "content": "Is this transaction fraudulent? user_age=30, purchase_amount=500"
    }
  ],
  "model": "gpt-4o-mini",
  "response_format": {
    "type": "json_schema",
    "json_schema": {
      "name": "Decision",
      "schema": {
        "type": "object",
        "properties": {
          "value": {
            "enum": <%= inspect(@decision_site.choices |> Enum.map(& &1.name)) %>
          }
        },
      }
    }
  }
}

response = requests.post(url, json=data, headers=headers)

if response.status_code == 200:
    decision = json.loads((await resp.json())['choices'][0]['message']['content'])['value']
    print(f"Decision: {decision}")
else:
    print(f"Error: {response.status_code}")</code>
    </pre>
  </div>

  <h3 class="text-lg font-semibold mb-2 text-gray-700">2. Review the API Documentation</h3>
  <p class="text-gray-600 mb-4">
    For more detailed information on how to use our APIs, check out the <a
      href="https://github.com/fmops/decisionbox/wiki"
      class="text-slate-600 hover:text-slate-700 underline"
    >API documentation</a>.
  </p>

  <h3 class="text-lg font-semibold mb-2 text-gray-700">3. Monitor Decisions</h3>
  <p class="text-gray-600 mb-6">
    Stay informed on decision outcomes by visiting the <strong>Decision Dashboard</strong>
    where you can review analytics and insights.
  </p>

  <div class="text-center">
    <a
      class="bg-slate-600 text-white px-4 py-2 rounded-lg hover:bg-slate-700"
      phx-click={hide_modal("decision_site-modal")}
    >
      OK
    </a>
  </div>
</.modal>
